{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
    <link href="{% static 'todos/task_form.css' %}" rel="stylesheet">
</head>
<body>
    <main>
        <div class="form-container">
            <h3 class="form-title">Task Form</h3>
            <a href="{% url 'tasks' %}" class="back-link">Go Back</a>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </div>
    </main>
</body>
</html>
