{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link href="{% static 'todos/task_list.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Todo List Items</h1>
    </header>

    <nav>
        {% if request.user.is_authenticated %}
            <div class="username">Welcome, {{ request.user }}</div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="log-out-button" type="submit">Log Out</button>
            </form>
            {% if tasks.count == 0 %}
                <p>{{ request.user }} has no items in the list.</p>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% for i in tasks %}
            <div class="task-item">
                <p>{{ i.title }}</p>
                <div class="button-container">
                    <a href="{% url 'task' i.id %}" class="button-link">View</a>
                    <a href="{% url 'task_edit' i.id %}" class="button-link">Edit</a>
                    <form method="POST" action="{% url 'task_delete' i.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-link">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </main>

    <footer>
        <a href="{% url 'task_create' %}"><button class="add-task-button">Add Task</button></a>
    </footer>
</body>
</html>
